* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --orange-color: #F26B1D;
    --primary-color: #D4D949;
    --section-color: #45AAC8;
    --footer-color: #FAFAFA;
    --gray-color:#777;
    --transparent: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb{
background-color: var(--orange-color);
scroll-behavior: smooth;
}
::-webkit-scrollbar-track{
    background-color: #fff;
    width: 2px;
}

a {
    text-decoration: none;
     color: #000;
}

p{
    word-break: break-all;

}
a{

    cursor:pointer !important;
    pointer-events: auto;

}
.deadline{
    color:red;
}

a:hover {

     color: #000;
}
.btn-noborder{
    border:none;
    background-color: #fff;
}

body {
/* font-family: 'Cairo', sans-serif; */
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    /* overflow-x: hidden; */
    /* background-color: var(--section-color); */

}
.fs-25{
    font-size: 25px!important;
}
#preloading{
position: fixed;
width:100%;
height: 100vh;
background: #fff url("../images/preloading.gif")no-repeat center center;
z-index: 1000;
}

/* start component  */

.bold{
    font-weight: 900;
}
.btn-accept{
    color:#fff;
    background-color: var(--orange-color);
}

.btn-reject{
    color:#fff;
    background-color: var(--primary-color);

}
#otp input{
    border-bottom: 2px solid var(--orange-color);
    width:80%;
    height: 90%;
    outline: none;
    font-size: 25px;
    text-align: center;
    margin-bottom: 3px;
}

#otp .inutpfiledotp{
    width: 59px;
    height: 64px;
    margin-left: 14px;
    box-shadow: 1px 2px 14px #70707077;
    border-radius: 10px;
    border: none;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
#otp .otpinupts{
    margin-bottom:80px;
}

.finish{
   color: #A7D685;
}

.modal-uk form{
 width:100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.modal-uk form .fullwidthinput{
 width:100%;
}
.modal-uk form .halfwidthinput{
 width:60%;

}
.addrequesticon{
    background-color: #f26b1de8;
    position: fixed;
    top: 62%;
    right: 16px;
    width: 65px;
    height: 65px;
    display: flex;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 1px 2px 14px 14px #f8f3f363;
    outline: 25px solid #f9fafbd9;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all .3s;
    border: 0;
}
@media(max-width:767px){
    .addrequesticon{
        top: 79%;
    }
}
.addrequesticon:hover{
box-shadow: 1px 2px 14px 14px #04040463;
}

.error-message{
    color:red;
    font-size: 14px;
}
.addrequesticon i{
    color: #f9fafb;
        width: 100%;
        font-size: 35px;
}

.section-header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
    width: 100%;
}
.section-header.width-0{
    width:fit-content;
}
.section-header h2 {
    color: var(--orange-color);
    font-weight: bold;
    flex-grow: 1;
    font-size: 40px;
}

.section-header a {
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: var(--gray-color);
    cursor: pointer;
    white-space: nowrap;
}

/* start slider */
.scrollable-container{
    position: relative;
    min-height: 300px;
}
.scrollable{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.scrollable::-webkit-scrollbar{
    display: none;
}
.pre-btn,
.nxt-btn {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    /* bottom: calc(50% - 199px); */
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, var(--bs-border-color) 100%);
    cursor: pointer;
    z-index: 8;

}


.pre-btn {
    left: 0;

}

.nxt-btn {
    right: 0;
}
/* end  slider */
/* modal of all site */

.modal{
    /* top: 8%; */
}
.modal .modal-header {
text-align: center;
margin-bottom: 23px;
border-bottom: none;
}
.modal .modal-title {
font-weight: 700;
text-align: center;
position: relative;
top:-44px;
font-size: 30px;
}

.modal .modal-title-discrip{
    font-size: 16px;
    position:relative;
    top: -40px;
}

.modal .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 400px; */
}
.modal .modal-body input{
    border-width: 0 0 2px 0;
    border-color: #0000002d;
    border-style: solid;
    border-radius: 0;
}
.modal .modal-body .btn-model{
    width:240px;
    height: 49px;
}
.modal .modal-body .input-icon{
    position: relative;

}
.modal-color-text{
    color:var(--primary-color);
    /* text-decoration: none; */
    background-color: #fff;
        border: none;
        font-weight: 600;
        padding: 5px;
}
.modal-color-text:hover ,.modal-color-text:active ,
 .modal-color-text:focus
{
    color: var(--primary-color);
}
.modal .modal-body .input-icon i{
    color: #F8B792;
    position: absolute;
    left:0;
    bottom:-3px;
    transform: translateY(-50%);

}
.form-label{
    margin-bottom: 0;
    font-weight: 600;
    font-size: 17px;

}
.form-control{
    /* padding-top: 0; */

}
.input-icon{
    display:flex;
}
.modal .modal-body .input-icon input{
margin-left: 21px;
}
.forget-pass{
    position: absolute;
    top: 100%;
    right: -41px;
}
.a-gray-text{
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    color:#777;
    width:120px;
    transition: all .3s;
}

.col-gray-text{
    width:100px;
}

.privacy ,.privacy:hover{
    color: var(--section-color);
    text-decoration: none;

}
input[type="checkbox"]:checked{
    background-color: #4AB0D9;
}

input[type="checkbox"]{
    border:1px solid #777 !important;
    border-radius: 4px !important;
}
/* color-primary orang */
.btn-modal{
/* flex-grow: 1; */
margin-left: 5px;
margin-right: 5px;
height: 49px;
/* width: 172px; */
width: 240px;
font-weight: 900;
border-radius: 41px;
display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;


}

.btn-model-primary,.btn-model-primary:hover,
.btn-model-primary:active{
background-color: var(--orange-color);
color:#fff;
}

.btn-model-secondary{
background-color: var(--orange-color);
}
.btn-model-request{

}
/* end  modal of all site */
::-webkit-slider-thumb {
    width: 1px;
}
.form-control:focus {
    box-shadow: none;

}

.btn {
    border-color: none;
}


.btn-cormoz{
    background-color: #FCE0D1;
    color:var(--orange-color);
}
.craz-color{
    color:#A00234;
}
/* end component  */


/* start navbar */

.navbar {
    padding: 20px 15px;
    position: relative;
    /* min-height: 120px; */
    background-color: var(--section-color);

}

.navbar .navbar-brand img {
    width: 40px;
    height: 40px;
}

@media(min-width:992px) {
    .navbar .collapse {
        flex-basis: 0 !important;
        flex-grow: 0 !important;
    }

}

@media(max-width:992px) {
    .search-form {
        margin: 12px 0;
        flex-grow: 0 !important;
    }

    .navbar-toggler {
        background-color: #fff;
        display: flex;
    }

    .navbar-toggler span {
        display: flex;
        color: #45AAC8;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;

    }

    .navbar-toggler span i {
        text-align: center;
    }


}

nav .container-fluid {
    position: relative;
    /* top: 32px;
        left: 0; */
    z-index: 3;
}

/* .search-form{
    position: absolute;
        top: 11px;
        left: 21%;
        width: 512px;

} */
.search-form input {
    border-radius: 40px 0 0 40px;
    margin-right: 0 !important;
    padding: 0 31px;
    height: 45px;
    width: 100%;
}

.search-form input:active {
    outline: none;
}

.search-form button {
    border-radius: 0 40px 40px 0;
    background-color: var(--orange-color);
    color: #fff;
    width: 69px;
    height: 45px;
    border: none;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-form2{

}
.search-form button i {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.navbar-collapse {
    background-color: var(--section-color);
    /* center items */
    text-align: center;
    border-radius: 20px;
}

.collapse ul li a,
.navbar .collapse ul li .btn {
    color: #fff;
    position: relative;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar .collapse ul li a.active,
.navbar .collapse ul li .btn.active {
    color: var(--primary-color) !important;
}

/* end navbar */



/* nav2 */


.head{
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    max-width: 100%;

}
.head .navbar-header{
    display:flex;
    justify-content: flex-end;

}
.head .logo img{
    margin: 0px 81px;
    width: 60px;
}
#page-topbar{
    background-image: url(../images/navbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 236px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
#page-topbar2{
    background-color:var(--section-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 170px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#page-topbar .layout{
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
    background-color: #ffffffd9;
    z-index: 2;

}

#page-topbar .navbar-header,#page-topbar2 .navbar-header{
    position: relative;
    z-index: 4;
    justify-content:flex-end;
}
a.dropdown-item {
    color: #303030;
    font-size: 18px;
    font-weight: 300;
}
.cart-icon{
    font-size: 19px;
}
a.dropdown-item i{
    font-size: 28px !important;

}
a.dropdown-item:not(:last-child) {
    border-bottom: 1px solid #7773;

}

a.dropdown-item:last-child, a.dropdown-item:last-child i{
    color: var(--orange-color) !important;
}
#page-topbar .navbar-header .logout{
    color:var(--orange-color) ;
}

#page-topbar .logo{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#page-topbar  .logo img{
    padding: 0 38px;
}
 .badge{
    color: #f0f4f2;
    background-color: var(--primary-color) !important;
}


#page-topbar  .carve,#page-topbar2  .carve{
    border-radius: 63px 60px 0 0;
    position: relative;
    background-color: #fff;
    z-index: 3;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


#page-topbar  .carve .search-form{
    width: 50%;
    position: relative;
    top: -32px;
    max-width: 888px;

}

@media (max-width:1420px)  and (min-width:767px){

    #page-topbar  .carve .search-form{
        max-width:673px;
    }
}

@media(max-width:767px){
    #page-topbar .carve .search-form{
        width: 75%;
    }
}
.navbar-header .dropdown .show.header-item {
    background-color: transparent;
}
.header-profile-user {
    height: 45px;
    width: 45px;

}
.dropdown-menu.dropdown-menu-end.show {
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate3d(0px, 72px, 0px);
    width: 283px;
    border-radius: 19px;
}


.search-form.search-nav{
    display: none !important;
}

@media (max-width:992px){
    .navbar{
        border-radius: 0 0 26px 26px;
    }
}
@media (max-width:767px) {

    .search-form.search-nav{
        display: flex !important;
    }
    .search-form.search-nav input{
        height:35px;
    }
    .search-form.search-nav  button{
        height:35px;
    }
    .search-form.can-hide{
        display: none !important;
    }
}
.btn-switchtofreelanc{
    background-color: #F5F5F5;
    color: #4AB0D9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    padding: 10px;
    width: 95%;
    margin: 7px;
    border: none;
    font-size: 18px;
    font-weight: 900;
}

/* end nav2 */

/* start content */


.content {
    background-color: #fff;
    /* border-radius: 63px 60px 0 0; */
    position: relative;

    min-height: 60vh;

    /* top:-48px; */
}

/* .layout {
    height: 167px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--section-color);
} */

/* @media (max-width:992px) {
.content {
        background-color: #fff;
        border-radius: 30px 30px 0 0;
        position: relative;

        z-index: 2;
    }
} */

/* start message */
.content .messages {}

.content .messages .container .message .text {
    /* height: 200px; */
    overflow: hidden;
}

.content .messages .container .message .text h3 {
    color: var(--orange-color);
}

.content .messages .container .message .text p {

    word-break: break-all;

}
/* end message */
/* start category */

.categories {
    margin-top: 20px;
    margin-bottom: 20px;
}

.categories .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.categories .category .image{
width: 180px;
height: 180px;
border-radius: 50%;
}
.categories .category .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;


}

.categories .category p {
    text-align: center;
}


/* end category */

/* start freelancer */

.freelancers {
    margin-top: 20px;
    margin-bottom: 20px;
}

.freelancers .freelancer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;


}

.freelancers .freelancer .image img {
    width: 150px;
    height: 150px;

    object-fit: cover;
    border-radius: 12px;


}

.freelancers .freelancer .info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.freelancers .freelancer .info .rate {
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-photo{
    width:300px;
}

.mfp-figure figure {
    margin: 0;
    width: 968px;
    max-width: 100%;}

    .mfp-figure:after {

        width: 100% !important;
        }

        img.mfp-img {
            width: 100% !important;

        }



        .product-page .card-wrapper img {
            width: 493px;
            max-width: 100%;
            display: block;
        }

        .photo-card-body{
            padding: 0;
        }


        /*  start charts */


        input.knob {
            display: none;
        }

        .categories .card-static {
            width: 100% !important;
            box-shadow: none;
        }

        .static-info h3{
font-size: 60px;

        }
        .static-info p{
            font-size: 30px;
            white-space: nowrap;
        }
        .card-body-bar {

            background-color:#7777775c;
        }

        @media (min-width:767px) {
            .chart-static{
           width: 50%;
           flex-direction: column;
    align-items: center !important;
    justify-content: center;
            }
        }
        @media (max-width:767px) {
            .chart-static{
           flex-direction: column;
            }
        }
        /* end charts */
/* .freelancers .freelancer .info .rate i {
    margin-right: 5px;
    font-size: 12px;
    color: var(--section-color);
} */
 .rate i {
    margin-right: 5px;
    font-size: 12px;
    color: var(--section-color);
}

/* end freelancer */

/* start about */
.abouts .about-data {
    display: flex;
    align-items: center;
}


@media(min-width:767px) {
    .abouts .about-data .about-text {
        padding-left: 12px;

    }

    .abouts .about-data {
        padding: 10px 12px;
    }
}

@media(max-width:767px) {
    .abouts .about-data {
        flex-direction: column;
    }

    .abouts .about-data .about-text {
        word-wrap: break-word;
        word-break: break-all;
    }
}

/* end about */
/* start contact us */

.contacts{
    background-color: #fff;
}
.contacts .form-contact {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.contacts .form-contact form {
    width: 100%;

}

.contacts .form-contact form label {
    font-weight: bold;
    font-size: 20px;
}


.contacts .form-contact form .input-group+button {
    margin-bottom: 10px;
}

.contacts .form-contact form button {
    background-color: var(--orange-color);
    color: #fff;
    margin: 5px auto;
    border-radius: 12px;
    padding: 10px 100px;
    display: flex;
    border: none;


}

.contacts .input-group {
    margin-bottom: 10px;
}

.contacts .input-group label {
    margin-bottom: 10px;
}

.contacts input {
    border-width: 0px 0px 1px 0px;
    outline-width: 0px;
}

@media(max-width:767px) {
    .contacts .contact-img {
        display: none;
    }
}


/* end contact us */



/* start footer */
footer{
    background-color:var(--footer-color);
}
footer a {
    color: var(--gray-color);
}

footer .footer-logo {
    color: var(--orange-color);
}


footer .footer-links a {
    padding: 8px 0;
    color:#333;

}

@media(max-width:767px) {
    footer .footer-links a {
        text-align: center;

    }

    footer .download h3 {
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 10px 0 5px 0 !important;
    }

    footer .download h3+div {
        flex-direction: column;
        justify-content: center;
    }
}

footer .footer-links a:hover {
    color: var(--orange-color);
}

footer .row+p{
    margin-bottom: 0;
}

/* end footer */



/* start products page */
.products-page{

}

.products-page .container-fluid{
padding-top: 50px;
padding-bottom: 150px;
display: flex;

}

.ccs .container-fluid{
    flex-direction: column;

}

.products-page .container-fluid .category-table{
width:20%;
position: relative;
top: -110px;
padding: 97px 0;
background-color: #FBFBFB;
border-radius: 48px 0 0 0;
margin-right: 20px;
text-align: center;





}

.category-table{
    position:relative;


}
.category-table a{
    color:#A0A0A0;
    font-weight: 300;

}

.category-table a.active{
    color:var(--orange-color);
    font-weight: 900;
}

.category-table .subcategorys{
    display: none;
    position:absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;


}
/* .category-table .category{
    position: relative;
} */

.category-table .subcategorys button{

    background-color: transparent;
    border: none;

}
.products-page .container-fluid .category-table ul{
    list-style-type: none;

}

.category-table .active{
    color:var(--orange-color);
}
@media(max-width:767px){
    .category-table .category{
         display: flex;
         gap:5px;
         overflow-x: scroll;
    }

    .products-page .container-fluid .category-table {
        width: 100%;
        position: relative;
        top: 0;
        padding: 0;
        background-color: #FBFBFB;
        border-radius: 0;
        margin-right: 0;
        margin-bottom: 47px;
        text-align: center;
     

    }
    .products-page .container-fluid .category-table .category > li  a  {
         padding:6px 15px ;
         width:150px;
        display: block;

        }

        .products-page .container-fluid .category-table .subcategorys  {

            top:100%;
            left:0;
            width: 100%;
            background-color: #FBFBFB;
         

           }
}

@media(min-width:767px){

    .products-page .container-fluid .category-table{
        overflow-y:auto;
        height: 600px;;
    }

}

.products-page  .product-table {
    width:80%;
}
.products-page  .product-table .products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: space-around; */

}
@media(max-width:767px) {
    .products-page .container-fluid {
            padding-top: 30px;


        }
    .products-page .container-fluid {
        flex-direction: column;
        align-items: center;

    }

    .products-page .category-table {
        width: 100%;
        background-color: #fff !important;

    }

    .products-page .product-table {
        width: 100%;

    }

    .products-page .product-table .products{
        align-content:center ;
        justify-content: center;
    }
}
.products-page  .product-table .card-container{
    margin-bottom: 10px;
}


.im-product{

    max-width:100% !important;
}
.categories  .card{
    width:300px;
    box-shadow: none;
}

.product-page .card{
    box-shadow: none !important;
}
.card .image-product {
    width: 300px;
    height: 300px !important;
    margin: 0 auto;
    height: 250px;
    position: relative;

}

@media(max-width:400px){
    .card .image-product {
        width: 270px;
    }  

    .products  .card{
        min-width:270px;
    }
    .request-button{
        left: 6% !important;
     }
 }



.card .image-product button{
    position: absolute;
    background-color: #b7b7b7a6;
    border:none;
    border-radius:50%;

}
.card .image-product  .addtochart {
    width: 196px;
    height: 43px;
    border-radius: 43px;
    bottom: 35px;
    left: 53px;
    color: #fff;
    display: none;
}
.card .image-product  .hart {
   display: flex;
   align-items: center;
   justify-content: center;
   top: 29px;
   right: 28px;
   width: 46px;
   height: 46px;
   display: none;


}

.card .image-product  .hart.active{
border:1px solid var(--orange-color);
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;

}
.card .image-product  .hart  i{
 font-size: 20px;
 color:#777;
}
.card .image-product  .hart.active  i{
 color:var(--orange-color);
 font-size:24px ;

}

.card:hover .addtochart {
    display: block;

   }

   .addtochart.active{
    display: block  !important;
    
   }
   .card:hover .hart {
    display: flex;
    align-items: center;
    justify-content: center;
   }


.card .image-product img {
    width:100%;
    height:100%;
    object-fit: fill;
    padding: 13px;
    border-radius: 23px;
}
.card-body .card-title{
    color: #333;
    font-weight: 600;
}


.card-body .freelancer-info p{
    color:var(--gray-color);

}
.card-body .freelancer-info .image, .product-page .freelancer-info .image{
width: 36px;
height: 31px;
border-radius: 50%;
padding: 0 5px;

}

.card-body .freelancer-info .image img, .product-page .freelancer-info .image img{
    width: 100%;
    height: 100%;
    border-radius:50%;
    object-fit: cover;
}
.card-body .prod-likes , .prod-likes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-body .prod-likes i, .prod-likes i{
    padding: 0 12px;
    font-size: 20px;
    color:var(--section-color);

}
.card-body .prod-likes span  ,.prod-likes span {
   color:var(--gray-color);
   font-weight: 900;
   font-size: 20px;
}

/*end  products page */

/* start page of product */

.product-page  .container{
    padding-top: 50px;

}

.product-page .header {
    display:flex ;

}

.product-page .title{
flex: 1;
align-self: baseline;
}
.product-page .service
{
    flex: 1;
    align-self: baseline;
}

.service .serv-data{
    font-size: 14px !important;
    font-weight: 300 !important;
    margin: 0;
    margin-left: 20px;
}
.service .service-head{
    font-size: 20px !important;
    font-weight: 900 !important;
    /* margin: 0;
    margin-left: 20px; */
}

.freelancer-info i{
    color:var(--section-color);
}
.product-page .prod-likes.withborder{
    background-color:var(--footer-color);
    border-radius: 12px;
}

.service button{
    padding:8px 12px ;
    width: 150px;
}
@media(max-width:767px) {
    .product-page .header {
        flex-direction: column !important;
        /* align-items: center !important; */
    }
        .product-page .header  .service{
            align-self: center;
        }
        .product-page .header .title{
            align-self: center;
        }
        .serv{
            margin-top: 13px;
        }
}
  .product-page .contentporduct  {
    padding-top: 30px;
  }
.card-wrapper {

    margin: 0 auto;
}
.card{
    border: none;
}

.product-page .card-wrapper img {
    /* width: 100px; */
    display: block;
}

.products-page .servicex{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin-bottom: 120px;
    padding-bottom: 30px;
    padding-left: 55px;

}
.products-page .servicex .serv {
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.products-page .servicex .serv .logo{
    width: 143px;
    height: 154px;
    box-shadow: 1px 2px 12px #9e9e9e63;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    margin-bottom: 10px;
}

.products-page .servicex .serv .txt{
    text-align: center;
    font-size: 27px;
}
.products-page .servicex .serv .logo i{
    font-size: 73px;
    font-weight: 300;

}
.img-display {
    overflow: hidden;
    flex: 1;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;

}

.img-item {
    margin: 0.3rem;

}

.img-item img{
    border-radius: 6px;
    width:100px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}
.img-item:hover {
    opacity: 0.8;
}
.proprity h3{
    font-weight: bold;
}
.proprity ul{
list-style-type: none;
color:var(--gray-color);
padding-left:0;

}
.similar{
    padding-top:30px;
}

/* user page  */

.requestservice{

    padding-top: 30px;
    padding-bottom: 30px;

}
.requestservice .container{
    /* display: flex; */
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
    position:relative ;
}
@media (max-width:767px) {
.requestservice .container {
        align-items: center;
    }
}
.requestservice .container .form{
    max-width:400px;
    width: 100%;
}
.requestservice .container .form form.requestservice .container .form form{

    max-width:100%;
}
.requestservice label{
    font-weight: 900;
    font-size: 20px;
}
.requestservice .container .form form h5{
    font-weight: 600;
    color:#303030;
}
.requestservice .container .form form input[type="file"]{
    visibility: hidden;
}
.requestservice .container .form form label.download i{
font-size: 2rem;
padding: 13px 21px;
border-radius:12px;
background-color:#F1F1F1;
color:#303030;
}
.requestservice .container .form form input,
.requestservice .container .form form  select {

    border-width: 0 0 1px 0 !important;
    border-color: #6B6B6B;
    border-style: solid;
    border-radius: 0;
}
.requestservice .container .form form button[type="submit"] {
    position: relative;
    left:144%;
}

@media (max-width:767px) {
    .requestservice .container .form form button[type="submit"] {
        left:27%;
    }
}
.requestservice.private .section-header{
   height: 80px;
}
.requestservice.private .section-header h2{
position: absolute;
top:0;
font-size: 1.5rem;

}
.requestservice.private .section-header h2 span{
color:#565555;
font-size: 1rem;


}

/* $$$$$$$$$$$$$$$$$$$$$$$   notification page $$$$$$$$$$$$$$$$$$$$$$$*/

.notification{
    padding-top: 30px;
    padding-bottom: 30px;
}

.notification .noti .image{
 width:100px;
 height:100px;
 border-radius: 50%;
}

.notification .noti .image img{
    width:100%;
    border-radius: 50%;
}

/* $$$$$$$$$$$$$$$$$$$$$$$ end   notification page $$$$$$$$$$$$$$$$$$$$$$$*/



/* $$$$$$$$$$$$$$$$$$$$$$$ start   freelancers page $$$$$$$$$$$$$$$$$$$$$$$*/



.nav-freelancer {
    background: transparent;
}

.freelanc {
    display: flex;
    max-width: 1200px;
    box-shadow: 1px 2px 4px #777777a2;
    border-radius: 17px;
    margin-top: 70px;
    width: calc(100% - 80px);
    max-width: 880px;
    margin-left:40px;
    margin-right:68px;

}

.freelanc .image{
    width:100px;
    position: relative;


}

.freelanc .image img{
    /* width: 136px;
    height: 157px; */
    width: 120px;
    height: 129px;
    border-radius: 12px;
    position: relative;
    top: -43px;
    left: -44px;
}
.freelanc .info{
    padding-top: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.freelanc .info .name{
    display: flex;

}
.freelanc .info .rate{
    white-space:nowrap ;
}
.freelanc .info .name span:first-child{
    font-weight: 900;
    font-size: 20px;
    padding-right: 30px;
    position: relative;

}
.freelanc .info .name span:first-child::after{
    content: "";
    width: 2px;
    height: 62%;
    background-color: #777;
    position: absolute;
    left: 90%;
    top: 25%;
}
.freelanc .info .name .rate span{
    font-size: 17px;
    color:#777;
}
.freelanc .info .name i{
    color:var(--section-color);
}
.freelanc .info .txt{
    font-size: 20px;
    padding: 10px 0;
    font-weight: 100;
    flex-grow: 1;
    word-break: break-all;
}

.freelanc .service{
    display: flex;
}
.freelanc .service p{
    font-weight: 900;
    font-size: 20px;
}
.freelanc .service ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

}
.freelanc .service ul li{
    padding:0 5px;
    font-size: 20px;
    font-weight: 100;
}
.freelanc .totals{
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F5F5F5;
    border-radius: 0 17px 17px 0;


}
.freelanc .totals div{
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    gap: 4px;
}
.freelanc .totals div p{
    display: flex;
    font-size: 28px;
    font-weight: 300;
    color: black;
    align-items: baseline;

}
.freelanc .totals div i{
    font-size: 25px;
    padding: 0 10px;
}
.freelanc .totals div.projects i{
    color:var(--primary-color);
}
.freelanc .totals div.productstotal i{
    color:var(--orange-color);
}
.freelanc .totals div.photos i{
    color:var(--section-color);
}
.freelanc .totals div p sub{
    font-size: 16px;
    color:#777;
    font-weight: 300;
    padding: 0 7px;

}
@media(max-width:767px){
    .freelanc {
        flex-direction: column;
        margin: 0 30px;
        margin-top: 40px;
    }
    .freelanc .totals{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding:  27px 10px;
        border-radius: 0 0 17px 17px ;

    }
    .freelanc .info{
        padding: 0 10px;
    }

    .freelanc .image img {

        top: -9px;
        left: -24px;
    }
}

.freelanc.v2{
    position: relative;
    border-radius: 12px 12px 0 0;

}
.freelanc.v2 .totals {
    position: absolute;
    top: 100%;
    left: 1px;
    width: 100%;
    height: 71px;
    flex-direction: row ;
    background-color: #fff;
    color:#fff;
    padding: 0;
    border-radius: 0 0 12px 12px;
    overflow: hidden;

}

.freelanc.v2 .totals  div, .freelanc.v2 .totals a{

   flex-grow: 1;
   justify-content: center;
   align-items: center;

   color: #fff !important;

}

.freelanc.v2 .totals a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.freelanc.v2 .totals  div p{
    margin-bottom: 0;
    color: #fff;
    font-weight: 500;
}
.freelanc.v2 .totals  a  p{
    margin-bottom: 0;
    font-size: 24px;
    white-space: nowrap;
}
.freelanc.v2 .totals  div i{
    color:#fff;

}
.freelanc.v2 .totals  div sub{
    color:#fff;
}

@media(max-width:767px){
    .freelanc.v2 .totals div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
    .freelanc.v2 .totals a, .freelanc.v2 .totals div{
        height: 100%;
    }
    .freelanc.v2 .totals a p{
        font-size: 17px;
    }
}
.products-page .productscroll{
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
}
.products-page .productscroll .card{
   width: 300px;
   max-width: 100%;
   min-width:300px;
}
/* .card-plus{

}
.card-plus .image-product{
    width: 250px;
    height:290px;
} */

.productscroll::-webkit-scrollbar{
    display: none;
}

.freelanc.v2 .totals  .projects{
    background-color: var(--primary-color);

}
.freelanc.v2 .totals  .productstotal{
    background-color: var(--orange-color);
}
.freelanc.v2 .totals  .photos{
    background-color: var(--section-color);

}

.frelancer {
    box-shadow: 0 5px 15px -8px;
    border-radius: 21px;
    margin: 50px 60px;
    transition: all .3s;
}
.frelancer:hover{
box-shadow: 0 5px 15px -8px;
}
.frelancer .proparitis {
    background-color: #F5F5F5;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 0 21px 21px 0;
    padding: 35px 5px;
}

.frelancer .proparitis i.projects{

    color:var(--primary-color);
}
.frelancer .proparitis i.products{
    color:var(--orange-color);

}
.frelancer .proparitis i.photos{
color:var(--section-color);
}

.imgfreelancer {
    position: relative;
    padding: 35px 5px;
}

.imgfreelancer img {
    position: absolute;
    bottom: 30px;
    right: 80px;
}

.infoFreelancer {
    padding: 5px;
    display: grid;
}

.infoFreelancer div {
    padding: 5px;
    display: flex;
}

.infoFreelancer p {
    padding: 5px;
    font-weight: lighter;
}

.reviews  .section-header h2{
    font-weight: 600;
}
.reviews  .showmore{
    text-decoration: underline !important;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    display: block;
    padding: 32px;
}
.review.freelanc {
    box-shadow: none;
    border-bottom: 1px solid #E6E6E6;
    border-radius: 0;
    min-height: 213px;
    margin-bottom: 10px;
    max-width: 93%;
}
.review.freelanc  .image{
    width:120px;
}
.review.freelanc  .image img{
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.review.freelanc .name{
    flex-direction: column;
    padding: 12px;
}
.review.freelanc .name span::after{
    display: none;
}


/* --------------------------------------- */
.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon-nav:hover .profile-list {
    display: block;
    position: absolute;
    right: 0;
    top: 35px;
}

.profile-list {
    display: none;
    list-style: none;
    background-color: #fff;
    text-align: left;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 6px -3px #000;

}

.profile-list li a {
    color: #000 !important;
    padding: 10px 20px;


}

.profile-list li {
    padding: 0 5px;
}

.profile-list li:last-child a {
    color: var(--orange-color) !important;
}

.profile-list li:not(:last-child) {
    padding: 10px 5px;
    border-bottom: 1px rgb(227, 227, 227) solid;
}

.profile-list button {
    margin: 5px;
    color: var(--section-color);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    transition: 0.3s ease;
}

.profile-list button:hover {
    margin: 5px;
    /* box-shadow: 0 0 6px -3px  rgba(0, 0, 0, 0.46); */
    background-color: #e9e9e9;

}





/* ########  user charts   ############# */

.charts{
padding-top: 30px;
padding-bottom: 30px;
}
.charts .chartsitems{
overflow-y: auto;
overflow-x: hidden;
height: 70vh;

margin: 0 10px;
padding-top: 10px;
padding-bottom: 10px;
}

.charts .chartcheckout {
 max-width:400px;
 background-color:#F0F0F0;
 display: flex;
flex-direction: column;
}

.chart-container{
    justify-content: space-around;
}
.charts .chartcheckout {
    height: fit-content;
}
.charts .chartcheckout h3{
    font-weight: 900;
    font-size: 40px;
    color: #303030;
}
.charts .chartcheckout form .btn{
 background-color: var(--section-color);
 color:#fff;
 font-weight: 900;
 font-size: 20px;
}

@media(min-width:767px){
.charts .chartcheckout{
    position: relative;
    top: -193px;

    padding-top: 220px;
    width: 500px;
}
.charts .chartsitems{
    width: 50%;
}

}


.charts .chartcheckout .details{
padding-bottom: 5px;
display: flex;
flex-direction: column;
}
.charts .chartcheckout .details .price{
    display: flex !important;
        justify-content: space-between;
}
.charts .chartcheckout .details .price .number{

    font-weight: 900;
    font-size: 24px;

}
.charts .chartcheckout .details .price span{
    font-size: 14px;
    font-weight: 200;
    padding: 0 5px;
}


.chart-out{

margin: 0 auto;
max-width: 100%;


}
.linkemptycart{
    color:var(--section-color);
    text-decoration: underline;
    font-weight: 600;
    display: inline;
}
@media(max-width:767px) {
    .charts .chartsitems {
        height: 40vh;
        order: 2;

    }

    .charts .chartcheckout {
        width: 100%;
        order:1;
    }
}

/* ######## end  user charts   ############# */
/* ######## start  user profile   ############# */
.userprofile{
    padding-top: 30px;
    padding-bottom: 30px;
}
.userprofile .profimg{
width:80px;
height: 80px;
 border-radius: 50%;
}
.userprofile .container .personinfo{
    border-bottom: 1px solid #77777730;
        padding-bottom: 24px;
}
.userprofile .profimg img{
    width:80px;
    border-radius:50%;
    object-fit: cover;
    box-sizing: border-box;
    padding: 2px;
}


.userprofile .btn1{
    border: none;
    background-color: #fff;
}
.userprofile .btn1 i{
font-size: 20px;
}

 .hoverdiv{
    max-width: 376px;
    border-radius: 12px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.11);
}
 .hoverdiv p.total{
    color: var(--section-color);
}
 .hoverdiv .number{
    font-size: 20px;

}

.userprofile .hoverdiv .number span{
    padding-left: 5px;
    padding-right: 5px;

}
 .hoverdiv button  {
    border: none;
    background-color:var(--section-color);
    color:#fff;
    align-self: center;
    font-size: 23px;

}

.hoverdiv button:hover,.hoverdiv button:focus,.hoverdiv button:active{
    border: none;
    background-color:var(--section-color);
    color:#fff;
    align-self: center;
    font-size: 23px;

}


 .hest{
    margin: 30px;
        max-width: 800px;
        height: 300px;
        border-radius: 12px;
        overflow-y: auto;
        overflow-x: hidden;

}
.hest .accordion .accordion-item{
    background-color:#c3bebe29 !important;
}
 .hest .accordion,  .hest .accordion .accordion-body{
width: 100%;

}
.accordion .info{
    font-size: 16px;
    padding: 5px 6px;
}
.accordion-button{

    background-color:#00000000 !important;
    box-shadow: none;
    border:0;


}
.hest .accordion-button{
max-width: 50%;
    width: fit-content;
}
.accordion-button:not(.collapsed){
            color:#fff !important;
            box-shadow: none !important;
}
.accordion-button:focus{
color: none;
 box-shadow: none;
 border: none;
}
button .number{
    color:var(--primary-color);
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
   

}

@media(min-width:767px){
.userprofile .hestory {
        max-width: 50%;
    }
        .cash {
            max-width: 50%;
        }

}

@media(max-width:767px) {
     .waltinfo {
        flex-wrap: wrap;
    }

    button .number{
        font-size:16px;
    }

}

.files{
    padding-top:20px;
    padding-bottom: 20px;
}

.files .accordion{
    flex-grow: 1;
}

.files .accordion .accordion-button{
    font-size: 25px;
    width: fit-content;
}
.files .accordion  .accordion-button:not(.collapsed){
    color:#000 !important;
}

@media(max-width:767px){

    .files{
    flex-direction:column;
    }

}



.file{
    border-radius: 12px;
    box-shadow: 1px 2px 5px #0000005f;
    padding: 5px  8px ;
    align-items: baseline;
    margin-bottom: 20px;
}
.file .img {
    padding:4px;
}
.file  .img i{
    font-size: 42px;
    font-weight: 300;

}
.file .details {
    display: flex;
    align-items: flex-start;
    width:95%;
}
.file .details .info h3{
    font-size:16px;
    font-weight: 600;
    color:#000;
    margin-bottom: 0;
}
.file .details .info {
    flex-grow: 1;
    padding:  0 10px;

}
.file .details .info .size{

    font-size: 13px;
    color:var(--gray-color);

}

.file .tool{
    width:5%;
    text-align: center;
    align-self: center;
}

#imageprofile{
    visibility: hidden;
}
#edituserprofile .profileimage, #editfreelancerprofile .profileimage {
width:137px;
height: 137px;

text-align: center;
}
#edituserprofile .profileimage img, #editfreelancerprofile .profileimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
#edituserprofile .profileimage,#editfreelancerprofile .profileimage {
    position: relative;
}
#edituserprofile .profileimage .layout, #editfreelancerprofile .profileimage .layout{
width: 100%;
    height: 100%;
    background-color: #00000026;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    border-radius: 50%;
}
#edituserprofile .profileimage .layout i,#editfreelancerprofile .profileimage .layout i{
font-size: 25px;
    color: #dbd4d4de;
}

.imgcontainer{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.seeamount{
border-radius: 12px;
    box-shadow: 1px 2px 12px rgb(0 0 0 / 11%);
    width: 67%;
        padding: 12px 30px;
    }
    #seeamount{
        color:var(--section-color);
        font-size: 18px;
         font-weight: 600;
    }

/* ######## end  user profile   ############# */
/* ######## start  show request   ############# */

.showrequest{
    padding-top:30px;
    padding-bottom:30px;
}

.filter  button{
    color:#080808;
    background-color: #eee;
    font-weight:600;
    border-radius: 12px;

}
.filtercontainer{
    position: relative;
    width: fit-content;
}

.filter-items{
    background-color: #fff;
    border-radius: 12px;
    position: absolute;
    top: 116%;
    left: 108px;
    z-index: 3;
    padding: 20px 30px;
    width: 250px;
    display: none;
    transition: all .3s;
    box-shadow: 1px 2px 4px #8e8e8ee3;
}

.filter-items input,.filter-items label{
    font-size: 18px;
    padding-left: 6px;
    padding-right: 5px;
    color:#333;
}

.filter-items  button{
    /* width: 120px; */ 
    width: fit-content;
    height: 29px;
    padding: 20px 25px;
}

@media (max-width:375px){

    .filter-items{
        left:26px;
    }
}
.requestlink a{
position: relative;
cursor: pointer !important;
}
.requestlink a:active,.requestlink a:link{
    color:#333;
}
.requestlink a.active::after{
    content: " ";
    position: absolute;
    top: 130%;
    width: 149%;
    height: 2px;
    left: -25%;
    background-color: #000;
}
@media(max-width:600px){

.requestlink a.active::after{
    width: 105%;
    left: -3%;
}

}
@media(max-width:767px){
    .requestlink a{
        font-size: 18px !important;
    }
}

.request{
    width: 100%;
    border-radius: 12px;
    box-shadow: 1px 2px 4px #33333347;
    color:#333;
    background-color: #fff;
}
.request.offer a:hover,.request.offer a:active{
color:#333;
}
.request p.status{
    color:attr(data-color);
    align-self: flex-start;
}

@media (max-width:767px) {
    .request p.status{

        align-self: flex-end;
    }

    .show-phone{
        flex-direction: column-reverse !important;
    }
}
.request p.status i{
font-size: 8px;

}
.request p.status.gray{
    color:var(--gray-color);
}
.request p.status.orange{
    color:var(--orange-color);
}
.request p.status.green{
    color:var(--primary-color);
}
.request p.status.black{
    color:#333;
}
.request button{
    background-color: var(--section-color);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    left: 0;
    top:100%;
    border-radius: 0 0 12px 12px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.request.offer{
    border-radius:12px 12px 0 0 ;
}

.request .frelacereq img{
     width: 100px;
     height: 100px ;

}


.modal.offers  .modal-header{
margin-bottom: 0px;
}

.modal.offers .modal-body{
    align-items: normal;
    /* padding:0; */
    /* padding-left:12px;
    padding-right:12px; */
}
.modal.offers .modal-body .bg-blue{
    background-color:#4ab0d95e;
}
/* .modal.offers .btn-modal{
    font-weight: 300;
    width: 40%;
    flex-grow: 0;

} */
.modal.offers .modal-footer{
    border-top:none;
    justify-content: center;
}
.freelaceroffers{

    padding:5px 10px;

}
.freelaceroffers .modal-dialog {
    overflow-y: initial !important
}
.freelaceroffers .modal-body{
height: 80vh;
    overflow-y: auto;
    justify-content: start;
}
.modal.offers .font-bold{
    font-weight: 600;
}
.modal.offers .freelanceroffer{
    width:306px;
    max-width: 100%;
    height: 80px;
    box-shadow: 1px 2px 4px #33333384;
border-radius: 16px;
margin-bottom: 84px;
}
.freelanceroffer .img{
    width:75px;
    position: relative;
}
.freelanceroffer .img img{
    width: 100%;
    height: 85px;

    position: absolute;
    border-radius: 12px;
    top: -19px;
    left: -13px;

}
.freelanceroffer .info i{
    color:var(--section-color);
    font-size: 10px;
}
.freelanceroffer .info i+p{
    font-size: 12px;
    padding:0 3px;
}

.freelaceroffers .buttoncontainer{
    top:5px;

}
.freelaceroffers .buttoncontainer .rej{
    background-color:var(--primary-color);
    color:white;
    margin-right: 20px;
    width: 68px;
    height: 32px;
    font-size: 12px;
    box-shadow: 1px 2px 4px #77777786;

}
.freelaceroffers .buttoncontainer .accept{
background-color: var(--orange-color);
    color: white;
    box-shadow: 1px 2px 4px #77777786;
    width: 68px;
    height: 32px;
    font-size: 12px;

}
/* ######## end  show request   ############# */

/*  */

.pay .paytype{
    font-size: 30px;
    width:80px;
    height: 65px;
    box-shadow: 1px 2px 5px #777;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    transition: all .5s;
    margin-left: 10px;


}
.pay .paytype.active{
    background-color:var(--primary-color);
    color:#fff;
    width: 122px;
    height: 82px;
    font-size: 40px;
}
.pay .paytype.active > i{
    font-size: 50px;
}
.pay .paytype.active span{
    font-size: 21px;
    display: flex;
}
.pay .paytype span{
    font-size: 16px;
    position: absolute;
    top: 3px;
    right: 9px;
    display: none;

}


.inprogress{
    color:var(--orange-color);
}
.finish{
    color:var(--primary-color);
}

.chat {
    z-index: 2000;
    overflow: hidden;
    border-radius: 27px;
    bottom: 0 !important;
    /* right: 20px !important;
    top: unset !important; */

}

@media(min-width:767px){

    .chat{
        right: 20px !important;
        top: unset !important;

    }


}

.chat .status i{
    font-size: 8px;
}
.chat .offcanvas-header .btn-close {
font-size: 14px;
}
.chat .chat-head{
    display: flex;
    justify-content: baseline;
}
.chat .chat-head img{
margin: 0 5px;
}
.chat .chat-head h5{
font-size:18px ;
color:#000;
margin-bottom:0;
}
.chat .chat-head p{
font-size:14px ;
color:var(--orange-color);
}

.chat .offcanvas-body{
    overflow: hidden;
    position: relative;
    height: 200px !important;
}

.chat .conversation{
    overflow-y: auto;
    height: calc(100% - 70px) !important;
}
.chat .conversation::-webkit-scrollbar-thumb{
    width:1px;

}
.chat .conversation .chat-txt {
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
    width: 75%;


}
.chat .conversation .leftcont{
    width: 100%;
    display: flex;
    justify-content:start ;
    padding: 0 10px;
}
.chat .conversation .rightcont{
    width: 100%;
    display: flex;
    justify-content:flex-end !important;
    padding: 0 10px;
}
.chat .conversation .chat-txt p{
font-size: 14px;
word-break: break-all;

}
.chat .conversation .rightside{
background-color: #F7AA7E;
border-radius: 35px 35px 0 35px;
padding: 12px;
color:#000;

}

.chat .conversation .leftside{
background-color: #F4F4F4;
border-radius: 35px 35px  35px 0;
padding: 12px;
color:#000;
}
.chat .conversation .chat-txt span{
    font-size: 12px;
    color:#fff;
}
.chat .conversation .leftside span{
    font-size: 12px;
    color:#777;
}

.chat .offcanvas-body .control{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#b4e5f594;
}
.chat .offcanvas-body .control .sendfile{
    color:var(--section-color);
    border: 0;
    background-color: transparent;
}
.chat .offcanvas-body .control .sendtext {
    background-color:var(--section-color);
    color:#fff;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     width:40px !important;
     height: 40px !important;
}
.chat .offcanvas-body .control form{
    display: flex;
}
.chat .offcanvas-body .control form input[type="text"]{
border: 0;
margin: 0 10px;
width: 275px;
outline: none;
}

@media(max-width:767px){
    .chat .offcanvas-body .control form input[type="text"]{
  width:221px;
    }
    

}
.chat .offcanvas-body .control .sendtext i{
font-size: 19px;
}
@media(min-width:767px){
    .chat{
        position: fixed;
        top: unset;
        bottom: 20px !important;
        right: 20px !important;
        height: 599px;
    }
}
@media(max-width:767px){

    .suredelete .btn-contianer {
 

        flex-direction: column-reverse;
    }
}



#review .example-rating a{
font-size: 30px;
}
.myreview h5{
    font-weight: 900;
}
.myreview i{
    /* color:var(--section-color); */
    font-size:10px;
}
.myreview i.active{
    color:var(--section-color);
}



#addtocart {

}

.reservation-id{
    font-size: 32px;
    font-weight: 600;
}

#forgetpassword i{
color:#F9B893;
}
#forgetpassword .modal-body{
    padding: 4px 40px;
}



.products .card{
    box-shadow: none;
}
#addcart .modal-body{
    padding:20px;
}
#addcart h3{
    color:var(--orange-color);
    font-size: 24px;
    font-weight: 900;
}
.checkemo{
    width: 171px;
    height: 256px;
}
.checkemoorange{
    width: 182px;
    height: 182px;
    background-color: var(--orange-color);
    position: absolute;
    z-index: 1;
    transform: rotate(-66deg);
    border-radius: 20px;

}
.checkemowhite{
    width: 165px;
    height: 165px;
    position: absolute;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(7deg);
    z-index: 2;
    border-radius: 20px;
    top: 17px;
    left: 9px;
    box-shadow: 1px 2px 4px #b8b3b3;
}
.checkemowhite i{
    color: var(--orange-color);
    font-size: 66px;

}
#switchtofreelancer h1,#switchtofreelancersignup h1{
font-size: 30px;
color:var(--orange-color);
font-weight: 900;

}
#switchtofreelancer .text-center p ,#switchtofreelancersignup .text-center p{
font-size: 16px;
font-weight: normal;
}

#switchtofreelancer .text-center ,#switchtofreelancersignup .text-center {
    margin-bottom: 60px;
}
#switchtofreelancer .btn-modal {
   font-size: 24px;
}
#switchtofreelancer .feature .images{
/* width: 208px;
height: 208px; */
border-radius: 12px;
box-shadow: 1px 2px 4px #777;
margin-bottom: 10px;
padding: 20px;
}
#switchtofreelancer .feature .images img{
    width: 100px;
   height: 110px;
}

#switchtofreelancer .feature  h3{
    color:var(--orange-color);
    font-size: 20px;
    font-weight: 900;
    flex-grow: 1;
}
#switchtofreelancer .row{
    margin-bottom: 23px;

}
.pay h1{
font-size: 30px;
font-weight: 900px;
color: #000;
text-align: center;
margin-bottom: 10px;
}



@media (max-width:767px){

    #switchtofreelancer .text-center p ,#switchtofreelancersignup .text-center p{
        font-size: 14px;
        
        }

    #switchtofreelancer h1,#switchtofreelancersignup h1{
        font-size: 27px;
    }

    #switchtofreelancer .feature .images img{
        width: 40px;
       height: 40px;
    }
    #switchtofreelancer .feature  h3{
        font-size: 14px;
    }
    #switchtofreelancer .text-center ,#switchtofreelancersignup .text-center {
        margin-bottom: 40px;
    }
}
/* end user page  */

.privateorders{
    background-color: #F8F8F8


}


/* freelancer photo page */

.photo-place{
    width: 400px;
    height: 400px;
}

.photo-place img{
    object-fit: cover;
    height: 100%;
}
/* end freelancer photo page */



#calendar{
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-family: 'Lato', sans-serif;
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: #F8F8F8;
}
#calendar_content div.blank{
  background-color: #E8E8E8;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 20px;
  text-align: center;
  background-color: #F26B1D;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h1{
  font-size: 1.5em;
  color: #FFFFFF;
  float:left;
  width:70%;
}
i[class^=icon-chevron]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
}
